<div class="jumbotron">
  <h2>HipTime</h2>
  <br>
  <h4>Trusted By Millions, hiptime is the best online task management app!</h4>
  <br>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>
  </div>
